<?xml version="1.0" encoding="UTF-8"?>
<!--<suite name="example suite 1" verbose="1" >-->
<suite name="example suite 1" parallel="false" >
    <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Smoke Suite 1" >
        <classes>
            <class name="com.DimensionsAutomation.TC1_DimensionsLogin_Test"/>
            <class name="com.DimensionsAutomation.TC2_LeftNavigationPaneChecks_Test"/>
        </classes>
    </test>
</suite>